
body {
    background: #FEEBFF;/*#ece5dd*/
    font-family: Arial, sans-serif;
}

.chat-container {
    width: 360px;
    position: relative;
    left:-5px;
    top:-5px;
    margin: 10px auto;
    background:linear-gradient(30deg , red ,#B044C5);
    border-radius: 12px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #075e54;
}

#status {
    font-size: 12px;
    color: green;
    margin-bottom: 5px;
}

#onlineUsers{
    font-size: 15px;
}
#messages {
    height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
}




.msg {
    position: relative;
    padding: 12px 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 50%;
    box-shadow: 1px 2px 0 #ccc;
    margin-bottom: 5px;
    
}

.msg.you {
    background:linear-gradient(30deg,#D7B2FF,#FBB2FF);
    margin-left: auto;
    border-bottom-right-radius:12px ;
    
}

.msg.other {
    background: linear-gradient(30deg,#FFB5B5,#FFEECC);
    margin-right: auto;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
}

.msg .time {
    font-size: 12px;
    color: gray;
    position: absolute;
    right: 5px;
    bottom: 2px;
}
.delete {
    font-size: 13px;
    color: red;
    cursor: pointer;
}

.input-box {
    display: flex;
    margin-top: 6px;


}

input {
    padding: 8px;
    font-size: 14px;
}

#message {
    flex: 1;


}

button {
    background: #25d366;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.tick {
  font-size: 11px;
  margin-left: 6px;
  color: gray;
}
.tick.seen {
  color: blue;
}

#typing {
    font-size: 12px;
    color: gray;
    margin: 4px 0;
    height: 14px;
}


.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#createGroupBtn {
  padding: 5px 10px;
  cursor: pointer;
}

#exitGroupBtn{
    background:red;
    box-shadow:3px 2px 2px #000;
    font-size: 14px;
    height: 30px;
    position: absolute;
    top:10.3px;
    left:270px;
}

#joinGroupBtn{
    height:33px;
    font-size: 15px;
    margin-left: 8.5rem;
    margin-bottom: 10px;
    background: linear-gradient(30deg,#B044C5,#B044C5);
    box-shadow: 2px 3px 4px #000;
}

#username{
    width:150px;
    
    border:1px #000;
    background: #EEFCFF;
}

.msg-main{
    background: #FAFEFF;
}

#sendBtn{
    background:linear-gradient(40deg, #CBA7FF,#8D3CFF);
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

h4{
    font-size: 10px;
    font-family: fantasy;
    color: #fff;
    animation: ani 5s linear infinite;
    
}

@keyframes ani{
    0%{
        color:#F0BBFF;
        text-shadow: 0 0 2px #000;
    }
    10% { color:#fff;
    font-family:fantasy;

    }
    
    20%{
    color:#ccc;
    
    }
    30%{
        color:#FF4590;
        
    }
}


/*responsive design */

@media (min-width: 500px) {
    
    .chat-container {
    width: 750px;
    position: relative;
    left: -5px;
    top: -5px;
    
    margin: 10px auto;
    background: linear-gradient(30deg, red, #B044C5);
    border-radius: 12px;
    padding: 50px;
}

h4{
    font-size: 20px;
}

h2{
    font-size: 35px;
}

#exitGroupBtn {
    background: red;
    box-shadow: 3px 2px 2px #000;
    font-size: 26px;
    width: 150px;
    height: 70px;
    position: absolute;
    top: -1px;
    left: 40rem;
}
#createGroupBtn{
    font-size: 30px;
    margin-top: 30px;
}
#joinGroupBtn{
    margin-left: 20rem;
    font-size: 30px;
    height: 50px;
}

#currentGroupDisplay{
    font-size: 30px;
}

#status{
    font-size: 23px;
}

#onlineUsers{
   font-size: 30px;
 
}


.msg {
    position: relative;
    padding: 22px 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 40%;
    font-size: 30px;
    box-shadow: 1px 2px 0 #ccc;
    margin-bottom: 5px;
    
}

.msg.you {
    background: linear-gradient(30deg, #D7B2FF, #FBB2FF);
    margin-left: auto;
    
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.msg.other {
    background: linear-gradient(30deg, #FFB5B5, #FFEECC);
    margin-right: auto;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}

.msg .time {
    font-size: 22px;
    color: gray;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.tick{
    font-size: 22px;
}

#messages {
    min-height: 1000px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
}

#username{
    height: 50px;
    width:250px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;

}

.msg-main{
    height:80px;
    margin-left: 30px;
    max-width: 700px;
    font-size: 25px;
}
#sendBtn{
    width:200px;
    font-size: 30px;
}

.delete{
    font-size: 25px;
    margin-left: 20px;
}

}